
#mainWrapper {
display: none;
}

#namesWrapper {
  width: 20%;
}

#chatWrapper {
  background: #f4f4f4;
  float: left;
  width: 50%;
}

#userWrapper {
  float: left;
  border: 1px #ccc solid;
  border-radius: 10px;
  background: #f4f4f4;
  padding: 10px;
  margin-left: 20px;
  width: 30%;
  max-height: 200px;
  display: none;
}
