<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ChatAppIO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="screen,projection">
    <linK href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>

    <div class="container">
      <h2>Welcome to our private ChatApp</h2>
      <div id="namesWrapper">
        <div id="error"></div>
      </br>
        <form id="usernameForm">
        <label for="CreateUser">Create User</label>
        <input type="username" class="form-control" id="username" placeholder="Username">
      </br>
        <button type="submit" class="btn btn-primary">Enter</button>
      </form>
      </div>
    </br></br>
      <div id="mainWrapper">
        <h4>Chat Screen</h4>

        <div id="chatWrapper">
          <div id="chatWindow"></div>
        </br>
          <form id="messageForm">
            <label for="Message">Message</label>
            <textarea id="message" class="form-control" rows="3" placeholder="Please enter your message"></textarea>
          </br>
            <button type="submit" class="btn btn-primary">Chat</button>
          </form>
        </div>

        <div id="userWrapper">
          <div id="users"></div>
        </div>
      </div>

    </div>




    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
